:root {
  --c: #fff;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #dfe4ea;
  border-radius: 1rem;
}

/* page layout */

.content {
  width: 100%;
  display: flex;
  position: relative;
}

/* .code {
  position: relative;
  overflow: auto;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  transform: scale(1) !important;
  overflow: hidden !important;
} */

/* .code {
  width: 100%;
}

iframe {
  width: 100% !important;
  min-height: 40vh !important;
  border: 0;
  transform: scale(1);
  overflow: hidden;
  display: block !important;
} */

.right-displaysection {
  width: 100%;
  padding: 0 0.5rem;
}

.colors {
  justify-content: space-between;
}

table {
  width: 100%;
}

tr {
  border: none;
}

th {
  font-size: 1.2rem;
}

td {
  text-align: center;
  letter-spacing: 1.5px;
}

.float-display {
  visibility: hidden;
}

.float-display.active {
  visibility: visible;
}

.nav-home {
  padding: 0.5rem 1rem;
}

.home-grid {
  padding: 0 0.5rem;
  padding-top: 90px;
}

.home-image {
  width: 70%;
  height: 100% !important;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .content {
    width: 100%;
    display: flex;
    position: relative;
  }

  .right-displaysection {
    width: 100%;
    padding: 0 4rem 0 0;
    padding-left: calc(25% + 4rem);
  }

  .colors {
    justify-content: initial;
  }

  .nav-home {
    padding: 0 4rem;
  }

  .home-grid {
    padding-top: 90px;
  }

  .home-image {
    width: 23%;
    height: 100% !important;
  }
}
